.flex(@flex: flex, @justify-content: center, @flex-direction: column) {
    display: @flex;
    justify-content: @justify-content;
    flex-direction: @flex-direction;
}

.border-radius(@radius) {
    border-radius: @radius / 2;
}

.button-signup(@background-color, @color, @padding-vertical, @padding-horizontal, @width) {
    .border-radius(12px);
    background-color: @background-color;
    color: @color;
    padding: @padding-vertical @padding-horizontal;
    width: @width;
}